@font-face {
    font-family: "Noto Sans";
    src: url("../fonts/NotoSans-VariableFont_wdth\,wght.ttf") format("truetype");
}

@font-face {
    font-family: "Noto Sans Mono";
    src: url("../fonts/NotoSansMono-VariableFont_wdth\,wght.ttf") format("truetype");
}

:root {
    --standard-padding: 10px;
    --standard-margin: 5px;
    --expand-padding: calc(var(--standard-padding) * 2);
    --expand-margin: calc(var(--standard-margin) * 2);

    --standard-background-color: rgb(38, 29, 59);
    --standard-text-color: #eee;
    --standard-border-color: #ccc;

    --header-height: 50px;
    --header-available-height: calc(var(--header-height) - 2px);
    --detail-view-width: max(400px, 50%);

    --var-font-default: "Noto Sans", sans-serif;
    --var-font-mono: "Noto Sans Mono", monospace;
}

body {
    font-family: var(--var-font-default);
    background-color: var(--standard-background-color);
    color: var(--standard-text-color);
    user-select: none;

    -ms-overflow-style: none;
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

header {
    width: 100vw;
    height: var(--header-height);
    display: flex;
    flex-direction: row-reverse;
    border-bottom: 2px solid #ccc;

    #settings-button {
        display: block;
        width: var(--header-available-height);
        height: var(--header-available-height);
        padding: calc(calc(var(--header-available-height) - 32px) / 2);

        img {
            display: block;
            transform: rotate(0deg);
            transition-duration: .2s;
        }

        &:hover>img {
            transform: rotate(90deg);
            transition-duration: .2s;
        }
    }
}

button:hover {
    cursor: pointer;
}

#app {
    display: flex;
    width: 100vw;
    height: calc(100vh - var(--header-height));
}

#list-view-wrapper {
    width: calc(100% - var(--detail-view-width));
    height: 100%;
    display: flex;
    flex-direction: column;

    .search {
        display: block;
        background-color: #eee;
        color: #222;
        padding: 10px;
        border-radius: 10px;
        margin: 10px;
        width: calc(100% - calc(var(--standard-padding) * 2));

        &::placeholder {
            color: #888;
        }
    }

    .list-view {
        width: 100%;
        max-height: 100%;
        overflow-y: scroll;
        display: flex;
        flex-direction: column;
        gap: var(--expand-margin);
        padding: 0 var(--standard-padding) var(--standard-padding);

        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        .list-item {
            border: 2px solid var(--standard-border-color);
            border-radius: 10px;
            padding: var(--standard-padding);
            cursor: pointer;
            transition: background-color 0.2s;

            &:hover {
                background-color: rgb(67, 51, 104);
                transition: background-color 0.2s;
            }

            .item-title {
                font-size: 1.2rem;
                font-weight: bold;
            }

            .item-description {
                line-height: 2;
            }

            .item-command {
                font-family: var(--var-font-mono);
                font-size: 0.9rem;
                color: #ccc;
                background-color: #333;
                border-radius: 8px;
                width: 100%;
                padding: var(--standard-padding);

                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }
        }
    }
}

#detail-view-wrapper {
    width: var(--detail-view-width);
    flex-shrink: 0;
    height: 100%;
    border-left: 2px solid #ccc;
    padding: var(--standard-padding);

    .detail-command-title {
        font-size: 1.7rem;
        font-weight: bold;
    }

    .detail-command-description {
        line-height: 2;
    }

    .detail-command-variables-title {
        font-size: 1.3rem;
        font-weight: bold;
        margin-top: var(--standard-margin);
    }

    .variable-item {
        display: flex;
        margin-top: var(--standard-margin);

        .variable-name {
            font-family: var(--var-font-mono);
            width: 20%;
            display: flex;
            align-items: center;
        }

        .variable-input {
            display: block;
            /* background-color: #eee; */
            padding: var(--standard-padding);
            border: 2px solid var(--standard-border-color);
            border-radius: 10px;
            margin: var(--standard-margin);
            width: 80%;

            &::placeholder {
                color: #888;
            }
        }
    }
}